@if (isPanelOpen()) {
  <div tabindex="0" class="panel-overlay" (click)="closePanel()()" (keyup)="closePanel()()"></div>
  <div class="side-panel">
    <div class="panel-header">
      <div>
        <h2>Work Order Details</h2>
        <p class="panel-subtitle">Specify the dates, name and status for this order</p>
      </div>
      <div class="panel-actions">
        <button class="btn-secondary" (click)="closePanel()()">Cancel</button>
        <button class="btn-primary" (click)="onSubmit()">
          {{ panelMode() === 'create' ? 'Create' : 'Save' }}
        </button>
      </div>
    </div>

    <form [formGroup]="workOrderForm" class="panel-content">
      <div class="form-group">
        <label for="workOrderName">Work Order Name</label>
        <input id="workOrderName" type="text" formControlName="name" placeholder="Enter work order name">
      </div>

      <div class="form-group">
        <label for="workOrderStatus">Status</label>
        <ng-select
          id="workOrderStatus"
          formControlName="status"
          [items]="statusOptions"
          bindLabel="label"
          bindValue="value"
          [clearable]="false"
          [searchable]="false"
          class="status-select"
        >
          <ng-template ng-label-tmp let-item="item">
            <span class="status-pill" [style.background-color]="item.color">
              {{ item.label }}
            </span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.label }}
          </ng-template>
        </ng-select>
      </div>

      <div class="form-group">
        <label for="workOrderEndDate">End date</label>
        <input
          id="workOrderEndDate"
          class="form-control"
          placeholder="mm.dd.yyyy"
          formControlName="endDate"
          ngbDatepicker
          #endDatePicker="ngbDatepicker"
          [navigation]="'select'"
          [displayMonths]="1"
          container="body"
          (click)="endDatePicker.open()"
        >
      </div>

      <div class="form-group">
        <label for="workOrderStartDate">Start date</label>
        <input
          id="workOrderStartDate"
          class="form-control"
          placeholder="mm.dd.yyyy"
          formControlName="startDate"
          ngbDatepicker
          #startDatePicker="ngbDatepicker"
          [navigation]="'select'"
          [displayMonths]="1"
          container="body"
          (click)="startDatePicker.open()"
        >
      </div>

      @if (displayError()) {
        <div class="error-message" role="alert">
          {{ displayError() }}
        </div>
      }
    </form>
  </div>
}

